<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑问卷</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="/static/jquery-3.2.1.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <style>
        .hides{
            display: none;
        }
    </style>
</head>
<body>
{#导航#}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" style="margin-right: 150px">
            <a class="navbar-brand" href="/index/">CRM系统</a>
        </div>
        <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
                <li><a href="/index/">平台首页</a></li>
                <li><a href="/index/">资产首页</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">任务</a></li>
            <li><a href="">通知</a></li>
            <li><a href="">消息</a></li>
        </ul>
    </div>
</nav>

{#主体#}
<div style="margin-top: 50px">
{#    左侧菜单#}
    <div class="col-md-2">
        <div class="right_menu">权限管理</div>
        <div class="right_menu">客户管理</div>
        <div>
            <div class="right_menu">校区管理</div>
            <div class="right_menu_bn hides" style="margin-left: 20px">
                <div><a href="">学校列表</a></div>
                <div><a href="">课程列表</a></div>
                <div><a href="">开班列表</a></div>
                <div><a href="">学生列表</a></div>
                <div><a href="">上课记录表</a></div>
                <div><a href="">学生学习记录列表</a></div>
                <div><a href="">调查问卷列表</a></div>
            </div>
        </div>
        <div class="right_menu">员工管理</div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/index/">首页</a> / <a href="/index/">数据列表</a></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="button" class="btn btn-success addBtn">添加</button>&nbsp;
                        <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
                <div class="content">
                {% for from_obj in from_list %}
                    <div class="row"  style="margin:0 auto">
                        <div class="row">
                            <div>问题{{ forloop.counter }}:</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1">问题：</div>
                            <div class="col-md-8">{{ from_obj.caption }}</div>
                            <div class="col-md-1">
                                <button class="removeBtn"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1">类型：</div>
                            <div class="col-md-9">
                                {{ from_obj.tp }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="newadd"></div>

            </div>
        </div>
    </div>
</div>

<script>
    $(".right_menu").mouseover(function () {
        $(this).next().slideDown(100)
    }).parent().mouseleave(function () {
        $(this).children(".right_menu_bn").slideUp(100)
    });

    $(".addBtn").click(function () {
        alert(111);
        str = '<div class="row" style="margin:0 auto"><div class="row"><div>问题:</div></div><div class="row"><div class="col-md-1 col-md-offset-1">问题：</div><div class="col-md-8"><textarea name="" id="" cols="100" rows="2"></textarea></div><div class="col-md-1"><span class="glyphicon glyphicon-remove"></span></div></div><div class="row"><div class="col-md-1 col-md-offset-1">类型：</div><div class="col-md-9">   </div></div></div>';
        $(".newadd").append(str)
    });
    
    $(".content").on("click",".removeBtn",function () {
        $(".removeBtn").parent.parent.remove()
    })
</script>
</body>
</html>